# ************  Numeric Opeartions  ***********

In [3]:
import numpy as np
import pandas as pd

In [4]:
# first  run this cell to create df8

df8 = pd.DataFrame(np.random.randn(6,4))
df8

          0         1         2         3
0 -1.567411 -0.297180 -0.494798 -1.655314
1  0.426315 -0.423038 -0.655532 -0.552470
2 -0.112774 -0.143070  1.639278 -2.233207
3  0.337355 -0.353342  0.475358 -0.490637
4 -0.362579  0.524806 -0.737234  1.712756
5  1.098900 -0.675424  0.540128 -0.300317

#  Calculate the Mean:

In [5]:
df8.mean()

0   -0.030032
1   -0.227875
2    0.127866
3   -0.586532
dtype: float64

# -- Challenge

Calculate the mean of df9

In [6]:
# first run this cell to create df9

df9 = pd.DataFrame(np.random.randn(3,4))
df9

          0         1         2         3
0  1.593707 -1.783929  1.141885  0.462973
1  1.758955  0.444660 -0.151935  1.544837
2 -0.020644  0.208382  0.221254 -0.252402

In [7]:
df9.mean()

0    1.110672
1   -0.376963
2    0.403734
3    0.585136
dtype: float64

# Calculate the Cumilative Sum:

In [8]:
df8.apply(np.cumsum)

          0         1         2         3
0 -1.567411 -0.297180 -0.494798 -1.655314
1 -1.141096 -0.720218 -1.150331 -2.207785
2 -1.253870 -0.863288  0.488947 -4.440992
3 -0.916515 -1.216630  0.964305 -4.931629
4 -1.279094 -0.691825  0.227071 -3.218873
5 -0.180194 -1.367249  0.767199 -3.519190

# -- Challenge

Calculate the cumilative sum of df9.

In [9]:
df9.apply(np.cumsum)

          0         1         2         3
0  1.593707 -1.783929  1.141885  0.462973
1  3.352662 -1.339269  0.989949  2.007810
2  3.332017 -1.130888  1.211203  1.755408

# Find the Maximum Value:

In [10]:
df8.max()

0    1.098900
1    0.524806
2    1.639278
3    1.712756
dtype: float64

# -- Challenge

Find the maximum value of df9.

In [11]:
df9.max()

0    1.758955
1    0.444660
2    1.141885
3    1.544837
dtype: float64

# Find the Minimum Value:

In [12]:
df8.min()

0   -1.567411
1   -0.675424
2   -0.737234
3   -2.233207
dtype: float64

# -- Challenge

Find the minimum value of df9.

In [13]:
df9.min()

0   -0.020644
1   -1.783929
2   -0.151935
3   -0.252402
dtype: float64

 # ******** String Manipulation ************

We will work with the Series s7 for this section.

In [14]:
# first run this cell to create series s7

s7 = np.array(['animal','bird',' Pandas Library '])
s7 = pd.Series(s7)
s7

0              animal
1                bird
2     Pandas Library
dtype: object

# Convert to Lower Case:

In [15]:
s7.str.lower()

0              animal
1                bird
2     pandas library
dtype: object

# -- Challenge

Convert the Strings in s8 to lower case.

In [18]:
# first run this cell to create the serires s8

s8 = np.array(['cat','dog',' Python Programming '] )
s8 = pd.Series(s8)
s8

0                     cat
1                     dog
2     Python Programming
dtype: object

In [19]:
s8.str.lower()

0                     cat
1                     dog
2     python programming
dtype: object

# Convert to Upper case:

In [20]:
s7.str.upper()

0              ANIMAL
1                BIRD
2     PANDAS LIBRARY
dtype: object

# -- Challenge
Convert the strings in s8 to upper case.

In [21]:
s8.str.upper()

0                     CAT
1                     DOG
2     PYTHON PROGRAMMING
dtype: object

# Swap Capitalization:

It means that the lower case letters become upper case letters and vicely versa.

In [22]:
s7.str.swapcase()

0              ANIMAL
1                BIRD
2     pANDAS lIBRARY
dtype: object

# -- Challenge

Swap the capitalization of the strings in s8

In [23]:
s8.str.swapcase()

0                     CAT
1                     DOG
2     pYTHON pROGRAMMING
dtype: object

# Find Length of String

In [24]:
s7.str.len()

0     6
1     4
2    16
dtype: int64

# -- Challenge

Find the length of the strings in s8.

In [25]:
s8.str.len()

0     3
1     3
2    20
dtype: int64

# Split String

In [26]:
s7.str.split()

0             [animal]
1               [bird]
2    [Pandas, Library]
dtype: object

# -- Challenge

Split the strings in s8 series.

In [27]:
s8.str.split()

0                    [cat]
1                    [dog]
2    [Python, Programming]
dtype: object

# Detect Unique Values:

In [28]:
s7.unique()

array(['animal', 'bird', ' Pandas Library '], dtype=object)

# -- Challenge

Detect the unique values in s8.

In [29]:
s8.unique()

array(['cat', 'dog', ' Python Programming '], dtype=object)

# Repeat String:

In [30]:
repeat_list = [2,3,2]
s7.str.repeat(repeat_list)

0                        animalanimal
1                        birdbirdbird
2     Pandas Library  Pandas Library
dtype: object

# -- Challenge

Repeat the values in s8 in the order [1,2,3]

In [31]:
repeat_lst = [1,2,3]
s8.str.repeat(repeat_lst)

0                                                  cat
1                                               dogdog
2     Python Programming  Python Programming  Pytho...
dtype: object